body{margin: 0; padding: 0;}
#game_area{
	width: 820px;
	height: 300px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border: dashed thin #033;
}
#box_area{
	width: 820px;
	height: 150px;
}

.box{
	width: 80px;
	height: 15px;
	background-color: #033;
	margin: 1px;
	float: left;
}
#slid{
	width: 80px;
	height: 10px;
	background-color: #033;
	position: absolute;
	top: 320px;
}
#bound {
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 20px;
	position: absolute;
	top: 280px;
}
#menu {
	width: 80px;
	height: 25px;
	line-height: 25px;
	color: #FFF;
	text-align: center;
	background-color: #033;
	float: left;
	margin-left: 45%;
}
#real_result{
	width: 820px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #033;
}
.show {
	height: 30px;
	line-height: 30px;
	color: #FFF;
	display: inline-block;
	margin-left: 20px;
}
#show_something {
	width: 400px;
	height: 50px;
	text-align: center;
	margin-top: 50px;
	float: left;
	margin-left: 25%;
}
#hint_info {
	font-size: 36px;
	background-color: #033;
	display: block;
	color: #FFF;
	margin-bottom: 20px;
}